@model IEnumerable<TTB.DAL.Models.ScenarioModels.IncomingAttackNotificationModel>

@{
    ViewData["Title"] = "Notifications List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VillageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NearestAttackDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttacksNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VillageName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NearestAttackDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttacksNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="List" class="btn btn-warning">Back</a>
</div>